#board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 12rem;
    width: 12rem;
}

#container {
    margin: 0 auto;
    display: flex;
    height: 20rem;
    width: 20rem;
    justify-items: center;
    align-items: center;
}

.square {
    border: solid 1px #000000;
    font-weight: bold;
    font-size: 4rem;
    text-align: center;
}
