#board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 12rem;
    width: 12rem;
}

#container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 25rem;
    width: 20rem;
    justify-content: space-between;
    align-items: center;
}

.square {
    border: solid 1px #000000;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
}

#scoreBoard {
    display: flex;
    width: 25rem;
    height: 5rem;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    gap: 0.5rem;
    margin: 1rem;
}

h2 {
    font-size: 1.5rem;
}

button {
    border: none;
    color: white;
    background-color: #006400;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    margin: 1rem;
}

.names {
    display: flex;
    flex-direction: column;
    width: 20rem;
    margin: auto;
}

#player1Score, #player2Score {
    color: #0000ff;
}

input {
    font-size: 1.5rem;
    margin: 1rem;
}